@model Replay.ViewModels.ProcedureAdminIndexViewModel


<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<style>
        body {
            font-family: Roboto;
            font-weight: 300;
        }
        h1 {
            font-family: Roboto;
            font-weight: 700;
        }
        .overdue {
            color: red;
        }
        * {
            box-shadow: none !important;
        }
        .form-check-input:checked {
            background-color: rgb(20, 18, 16);
            border-color: rgb(20, 18, 16);
        }
        .form-check-input {
            border-radius: 0.25em;
        }
        .alignright {
            text-align: right;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        tr {
            width: 100%;
        }
        thead th {
            border-bottom: 2px solid black;
        }
        .index{

        }
</style>
</head>

@{
    ViewData["Title"] = "Vorgangsarchiv";
    ViewData["Hero"] = "Archivierte Vorgänge";
}
<div class="index">
    <a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Zur Übersicht</a>
</div>
<br>
<h2>Archivierte Vorgänge</h2>
<br>
<table>
    <thead>
        <tr>
            <th>Vorgang</th>
            <th>Zieldatum</th>
            <th>Status</th>
            <th>Aktionen</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var procedure in Model.Procedures)
        {
            <tr>
                <td>@procedure.name</td>
                <td>@procedure.Deadline.ToString("dd.MM.yyyy")</td>
                <td class="status-details">
                        <div class="statuscompleted">Abgeschlossene Aufgaben: @procedure.completedTasks</div>
                        <div class="statusinprogress">Aufgaben in Bearbeitung: @procedure.inprogressTasks</div>
                        <div class="statusopen">Offene Aufgaben: @procedure.openTasks</div>
                        <div class="progress-container">
                                @{
                                var progressPercentage = (procedure.progressbar * 100).ToString("F2", System.Globalization.CultureInfo.InvariantCulture);
                                }
                                <div class="progress-bar" style="width:@progressPercentage%">
                        </div>
                </td>
                <td><a asp-action="Details" asp-route-id="@procedure.Id" class="btn btn-success btn-sm"><i class="bi bi-info-circle"></i> Details</a>
                    <a asp-action="Restore" asp-route-id="@procedure.Id" class="btn btn-info btn-sm"><i class="bi bi-pencil-square"></i> Wiederherstellen</a>
                    <button type="button" class="btn btn-success btn-sm save-button" style="display: none;"><i class="bi bi-floppy"></i></button>
                </td>
            </tr>
        }
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const rows = document.querySelectorAll('#task-table tbody tr');
            const today = new Date();

            rows.forEach(row => {
                const dateCell = row.querySelector('.date');
                const targetDate = new Date(dateCell.textContent);

                if (targetDate < today) {
                    row.classList.add('overdue');
                }
            });
        });
    </script>

    </tbody>
</table>