@model Replay.ViewModels.Process.MakandraProcessStartViewModel

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        body {
            font-family: Roboto;
            font-weight: 300;
        }

        h1 {
            font-family: Roboto;
            font-weight: 700;
        }

        * {
            box-shadow: none !important;
        }

        .form-check-input:checked {
            background-color: rgb(20, 18, 16);
            border-color: rgb(20, 18, 16);
        }

        .form-check-input {
            border-radius: 0.25em;
        }

        .alignright {
            text-align: right;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        tr {
            width: 100%;
        }
    </style>
</head>

@{
    ViewData["Title"] = "Vorgangsstart";
    ViewData["Hero"] = "Vorgang starten";
}

<a class="btn btn-dark" asp-controller="MakandraProcess" asp-action="Index"><i class="bi bi-arrow-left-circle"></i>
    Zurück zur Übersicht</a>
<br>
<br>
<form method="post" asp-controller="MakandraProcess" asp-action="Start">
    <input type="hidden" asp-for="ProcessId" value="@Model.ProcessId">
    <h3>Name</h3>
    <hr>
    <div class="form-group">
        <input class="form-control" asp-for="Name" type="text">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br>
    <h3>Aufgabenvorlagen</h3>
    <hr>
    <button class="btn btn-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#taskTemplatesTable" aria-expanded="false" aria-controls="taskTemplatesTable">
        <i class="bi bi-caret-down-fill"></i> Aufgabenvorlagen anzeigen/verbergen
    </button>
    <br>
    <div class="collapse" id="taskTemplatesTable">
        <br>
        <table class="table">
            <thead></thead>
            <tbody>
                @foreach (var t in Model.AllTaskTemplates.GetTaskTemplatesNotArchivedWithProcessId(Model.ProcessId).Result)
                {
                    <tr>
                        <td class="alignleft">
                            @t.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br>
    <h3>Vorgangsverantwortlicher</h3>
    <hr>
    <div>
        <select class="form-select" asp-for="ResponsiblePerson">
            <option value="@Model.DefaultResponsiblePerson.Id">@Model.DefaultResponsiblePerson.FullName (@Model.DefaultResponsiblePerson.Email)</option>
            @foreach (var u in Model.AllUsers.GetUsers()) 
            {
                if (u.Id != Model.DefaultResponsiblePerson.Id)
                {
                    <option value="@u.Id">@u.FullName (@u.Email)</option>
                }
            }
        </select>
        <span asp-validation-for="ResponsiblePerson" class="text-danger"></span>
    </div>
    <br>
    <h3>Bezugsperson</h3>
    <hr>
    <div>
        <select class="form-select" asp-for="ReferencePerson">
            @foreach (var u in Model.AllUsers.GetUsers()) 
            {
                <option value="@u.Id">@u.FullName (@u.Email)</option>
            }
        </select>
        <span asp-validation-for="ReferencePerson" class="text-danger"></span>
    </div>
    <br>
    <h3>Vertragsziel</h3>
    <hr>
    <div>
        <select class="form-select" asp-for="EstablishingContractType">
            @foreach (ContractType c in Model.AllContractTypes.GetContractTypes().Result) 
            {
                <option value="@c.ID">@c.Name</option>
            }
        </select>
        <span asp-validation-for="EstablishingContractType" class="text-danger"></span>
    </div>
    <br>
    <h3>Zieldatum</h3>
    <hr>
    <div class="form-group">
        <input class="form-control" id="Deadline" asp-for="Deadline" type="date">
        <span asp-validation-for="Deadline" class="text-danger"></span>
    </div>

    <br>
    <h3>Zielabteilungen</h3>
    <hr>
    <div>
        <ul class="list-group">
            @for (int i = 0; i < Model.Departments.Length; i++)
            {
                <li class="list-group-item">
                    <input type="hidden" asp-for="Departments[i].Name" value="@Model.Departments[i].Name">
                    <input type="hidden" asp-for="Departments[i].Id" value="@Model.Departments[i].Id">
                    <input class="form-check-input me-1" asp-for="Departments[i].IsSelected" type="checkbox" id="Departments[i].IsSelected">
                    <label for="Departments[i].IsSelected" class="form-check-label">@Model.Departments[i].Name</label>
                    <span asp-validation-for="Departments[i].IsSelected" class="text-danger"></span>
                </li>
            }
        </ul>
    </div>
    <br>
    <br>
    <div class="form-group confirmbutton">
        <input id="StartProcedure" type="submit" value="Vorgang starten" class="btn btn-dark btn-lg">
    </div>
</form>

<script>
    document.getElementById('Deadline').addEventListener('keydown', function(event) {
        event.preventDefault();
    });
</script>

